We just need a few details:

<input placeholder="First Name"/>
<input placeholder="Last Name"/>
<input placeholder="email" type="email"/>
<input placeholder="password" type="password"/>
<input placeholder="confirm password" type="password"/>
<button>Sign Up</button>

AFter signing up, you'll be able to setup your household. 


