<!DOCTYPE html>
<html>
  <head>
      <title>Roommates</title>
      <% include ../partials/headers.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <h1><%=roommate.firstName%> <%= roommate.lastName %></h1>
    </div>
  <% include ../partials/scripts.ejs %>
  </body>
</html>
