<link rel="stylesheet" href="/css/style.css"/>

<h1>Roommates</h1>
Stay on top of all things roommate related.

<ul>
<li>Share grocery lists</li>
<li>Message one anther</li>
<li>Split rent/utilties</li>
<li>See and check off chores</li>
</ul>

<button>Sign up</button>