<!DOCTYPE html>
<html>
  <head>
      <title>Roommates</title>
      <% include ../partials/headers.ejs %>
  </head>
  <body>
    <div class="container">
    <% include ../partials/nav.ejs %>
      <h1>Rooommates</h1>

      <ul>
        <li>Share grocery lists</li>
        <li>Manage chores</li>
        <li>Manage/split rent payments</li>
        <li>Chat with one another</li>
      </ul>

      You've been automatically logged in as Matt for demonstration purposes. 

      Future development would be to add the login system. 
    </div>
  <% include ../partials/scripts.ejs %>
  </body>
</html>
